@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 14px;
}

body::-webkit-scrollbar-thumb {
  background: #acafb9;
  background-clip: padding-box;
  border: 3px solid transparent;
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background-color: rgb(211, 211, 211);
  border-radius: 5px;
}
