@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 14px;
}

body::-webkit-scrollbar-thumb {
  background: #acafb9;
  background-clip: padding-box;
  border: 3px solid transparent;
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background-color: rgb(211, 211, 211);
  border-radius: 5px;
}

html {
  --scroll-behavior: smooth !important;
}

@keyframes scale-1 {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0.6);
  }
}

@keyframes scale-2 {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0.7);
  }
}

@keyframes scale-3 {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0.8);
  }
}

@keyframes scale-4 {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0.9);
  }
}
